<div class="main-container">
  <img [height]="logoHeight" [width]="logoWidth" alt="logo"
       class="main-container__logo" ngSrc="/assets/images/klock--var3--logo.svg"/>
  <div class="main-container__form-container">
    <div class="main-container__form-container__header-container">
      <h1 class="main-container__form-container__header-container__title">{{ title }}</h1>
    </div>
    <ng-form class="main-container__form-container__content-container">
      <ng-content></ng-content>
      <div class="main-container__form-container__content-container__footer-container">
        <app-button [ngClass]="{'button--primary--not-filled':true}" [type]="'reset'">Cancel</app-button>
        <app-button [ngClass]="{'button--primary':true}" [type]="'submit'">Submit</app-button>
      </div>
    </ng-form>
  </div>
</div>
