<div class="time-slider-container">
  <app-slider [label]="'Hour'" [id]="id + '--hour'" [min]="0" [max]="23" [step]="1" [initialValue]="hourSliderValue" (valueChange)="onHourChange($event)"></app-slider>
  <app-slider [label]="'Minute'" [id]="id + '--minute'" [min]="0" [max]="59" [step]="1" [initialValue]="minuteSliderValue" (valueChange)="onMinuteChange($event)"></app-slider>
  <app-slider [label]="'Second'" [id]="id + '--second'" [min]="0" [max]="59" [step]="1" [initialValue]="secondSliderValue" (valueChange)="onSecondChange($event)"></app-slider>
</div>
