<div class="time-slider-container">
  <app-slider (valueChange)="onHourChange($event)" [id]="id + '--hour'" [initialValue]="hourSliderValue" [label]="'Hour'" [max]="23" [min]="0"
              [step]="1"></app-slider>
  <app-slider (valueChange)="onMinuteChange($event)" [id]="id + '--minute'" [initialValue]="minuteSliderValue" [label]="'Minute'" [max]="59"
              [min]="0" [step]="1"></app-slider>
  <app-slider (valueChange)="onSecondChange($event)" [id]="id + '--second'" [initialValue]="secondSliderValue" [label]="'Second'" [max]="59"
              [min]="0" [step]="1"></app-slider>
</div>
