/* Mosaic Clock */
.mosaic-clock-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: auto;
  gap: var(--gap--medium);
}

/* Time unit */
.mosaic-clock-container__time-unit {
  text-align: center;
}

/* Mosaic */
.mosaic-clock-container__time-unit__mosaic {
  display: grid;
}

.mosaic-clock-container__time-unit__mosaic--24-tiles {
  grid-template-columns: repeat(3, 1.25rem);
  grid-template-rows: repeat(8, 1.25rem);
}

.mosaic-clock-container__time-unit__mosaic--60-tiles {
  grid-template-rows: repeat(10, 1rem);
  grid-template-columns: repeat(6, 1rem);
}

/* Mosaic tile */
.mosaic-clock-container__time-unit__mosaic__tile {
  width: 100%;
  height: 100%;
  background-color: var(--grey--medium);
  opacity: 0.5;
}

/* Active mosaic tile */
.mosaic-clock-container__time-unit__mosaic__tile.active {
  opacity: 1;
}
