<app-clock-layout>
  <div class="mosaic-clock-container">
    <div class="mosaic-clock-container__time-unit">
      <app-label>Hours</app-label>
      <div class="mosaic-clock-container__time-unit__mosaic">
        <div *ngFor="let tile of hoursMosaic" class="mosaic-clock-container__time-unit__mosaic__tile" [class.active]="tile"></div>
      </div>
    </div>
    <div class="mosaic-clock-container__time-unit">
      <app-label>Minutes</app-label>
      <div class="mosaic-clock-container__time-unit__mosaic">
        <div *ngFor="let tile of minutesMosaic" class="mosaic-clock-container__time-unit__mosaic__tile" [class.active]="tile"></div>
      </div>
    </div>
    <div class="mosaic-clock-container__time-unit">
      <app-label>Seconds</app-label>
      <div class="mosaic-clock-container__time-unit__mosaic">
        <div *ngFor="let tile of secondsMosaic" class="mosaic-clock-container__time-unit__mosaic__tile" [class.active]="tile"></div>
      </div>
    </div>
  </div>
</app-clock-layout>
