/* Mosaic Clock */
.mosaic-clock-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: auto;
  gap: var(--gap--medium);
}

/* Time unit */
.mosaic-clock-container__time-unit {
  text-align: center;
}

/* Mosaic */
.mosaic-clock-container__time-unit__mosaic {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap--small);
}

/* Mosaic tile */
.mosaic-clock-container__time-unit__mosaic__tile {
  width: 1rem;
  height: 1rem;
  background-color: var(--grey--medium);
  border-radius: var(--border-radius--small);
  opacity: 0.5;
}

/* Active mosaic tile */
.mosaic-clock-container__time-unit__mosaic__tile.active {
  opacity: 1;
}
