/* Analog clock container */
.analog-clock-container {
  width: 200px;
  height: 200px;
  gap: var(--gap--medium);
}

/* Clock face */
.analog-clock-container__clock-face {
  fill: var(--grey--lightest);
  stroke: var(--grey--darkest);
  stroke-width: 2px;
}

/* Clock hands */
.analog-clock-container__hour-hand, .analog-clock-container__minute-hand, .analog-clock-container__second-hand {
  stroke: var(--grey--darkest);
  stroke-width: 2px;
  stroke-linecap: round;
}

.analog-clock-container__second-hand {
  stroke: var(--color--dark-primary);
}
