<app-clock-layout [title]="'Binary Clock'">
  <div class="binary-clock-container">
    <div class="binary-clock-container__time-unit">
      <app-label>Hours</app-label>
      <div class="binary-clock-container__time-unit__binary">{{ hours }}</div>
    </div>
    <div class="binary-clock-container__time-unit">
      <app-label>Minutes</app-label>
      <div class="binary-clock-container__time-unit__binary">{{ minutes }}</div>
    </div>
    <div class="binary-clock-container__time-unit">
      <app-label>Seconds</app-label>
      <div class="binary-clock-container__time-unit__binary">{{ seconds }}</div>
    </div>
  </div>
</app-clock-layout>
