/* Seven segment clock */
.match-clock-container {
  --segment--width: 0.2rem;
  --segment--height: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap--medium);
}

/* Time unit */
.match-clock-container__time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 var(--margin--small);
}

/* Seven segment */
.match-clock-container__time-unit__match {
  display: grid;
  grid-template-rows: var(--segment--height) var(--segment--height) var(--segment--height) var(--segment--height) var(--segment--height);
  grid-template-columns: var(--segment--width) var(--segment--height) var(--segment--width);
  gap: var(--segment--width);
}

/* Segments */
.segment--1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.segment--2 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.segment--3 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.segment--4 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.segment--5 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.segment--6 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.segment--7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

/* Vertical segments */
.segment--2,
.segment--3,
.segment--5,
.segment--6 {
  width: 0.1rem;
  height: 0.5rem;
}

/* Horizontal segments */
.segment--1,
.segment--4,
.segment--7 {
  width: 0.5rem;
  height: 0.1rem;
}

.segment {
  background-color: var(--grey--darkest);
  border-radius: var(--border-radius--small);
}

.segment--active {
  background-color: var(--color--dark-primary);
}
