<app-clock-layout>
  <div class="seven-segment-clock-container">
    <div class="seven-segment-clock-container__time-unit" *ngFor="let digit of hours.split('')">
      <div class="seven-segment-clock-container__time-unit__seven-segment">
        <div class="segment" *ngFor="let segment of getSegments(digit)" [class.active]="segment"></div>
      </div>
    </div>
    <div class="seven-segment-clock-container__time-unit" *ngFor="let digit of minutes.split('')">
      <div class="seven-segment-clock-container__time-unit__seven-segment">
        <div class="segment" *ngFor="let segment of getSegments(digit)" [class.active]="segment"></div>
      </div>
    </div>
    <div class="seven-segment-clock-container__time-unit" *ngFor="let digit of seconds.split('')">
      <div class="seven-segment-clock-container__time-unit__seven-segment">
        <div *ngFor="let segment of getSegments(digit)" [ngClass]="getClassObject()"></div>
      </div>
    </div>
  </div>
</app-clock-layout>
