<app-clock-layout [title]="'Match Clock'">
  <div class="match-clock-container">
    <div class="match-clock-container__time-unit" *ngFor="let digit of hours.split('')">
      <div class="match-clock-container__time-unit__match">
        <div *ngFor="let segment of getSegments(digit)" [ngClass]="getClassObject(segment)"></div>
      </div>
    </div>
    <div class="match-clock-container__time-unit" *ngFor="let digit of minutes.split('')">
      <div class="match-clock-container__time-unit__match">
        <div *ngFor="let segment of getSegments(digit)" [ngClass]="getClassObject(segment)"></div>
      </div>
    </div>
    <div class="match-clock-container__time-unit" *ngFor="let digit of seconds.split('')">
      <div class="match-clock-container__time-unit__match">
        <div *ngFor="let segment of getSegments(digit); let i = index" [ngClass]="getClassObject(segment)"></div>
      </div>
    </div>
  </div>
</app-clock-layout>
