/* LED Clock */
.led-clock-container {
  display: flex;
  justify-content: space-around;
  gap: var(--gap--medium);
}

/* Time unit */
.led-clock-container__time-unit {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap--small);
}

/* LED */
.led-clock-container__time-unit__led {
  background-color: red;
  padding: var(--padding--medium);
  border-radius: 50%;
  display: inline-block;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}
