<app-clock-layout [title]="'Roman Clock'">
  <div class="roman-clock-container">
    <div class="roman-clock-container__time-unit">
      <app-label>Hours</app-label>
      <div class="roman-clock-container__time-unit__roman-numeral">{{ hours }}</div>
    </div>
    <div class="roman-clock-container__time-unit">
      <app-label>Minutes</app-label>
      <div class="roman-clock-container__time-unit__roman-numeral">{{ minutes }}</div>
    </div>
    <div class="roman-clock-container__time-unit">
      <app-label>Seconds</app-label>
      <div class="roman-clock-container__time-unit__roman-numeral">{{ seconds }}</div>
    </div>
  </div>
</app-clock-layout>
