/* Roman clock container */
.roman-clock-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: auto;
  gap: var(--gap--medium);
}

/* Time unit */
.roman-clock-container__time-unit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Roman numeral */
.roman-clock-container__time-unit__roman-numeral {
  font-size: var(--font-size--extra-large);
  font-weight: var(--font-weight--bold);
  color: var(--grey--darkest);
}
