  <div class="rgb-clock-container">
    <div class="rgb-clock-container__time-unit">
      <app-label [additionalClassName]="'rgb-clock-container__time-unit__label'">Hours</app-label>
      <div [style.background-color]="hourColor" class=" rgb-clock-container__time-unit__rgb"></div>
    </div>
    <div class="rgb-clock-container__time-unit">
      <app-label [additionalClassName]="'rgb-clock-container__time-unit__label'">Minutes</app-label>
      <div [style.background-color]="minuteColor" class=" rgb-clock-container__time-unit__rgb">Minutes: {{ minutes }}</div>
    </div>
    <div class="rgb-clock-container__time-unit">
      <app-label [additionalClassName]="'rgb-clock-container__time-unit__label'">Seconds</app-label>
      <div [style.background-color]="secondColor" class=" rgb-clock-container__time-unit__rgb">Seconds: {{ seconds }}</div>
    </div>
  </div>
