<div class="rgb-clock-container">
  <div class="rgb-clock-container__time-unit">
    <app-label [ngClass]="{'rgb-clock-container__time-unit__label':true}">Hours</app-label>
    <div [style.background-color]="hourColor" class=" rgb-clock-container__time-unit__rgb"></div>
  </div>
  <div class="rgb-clock-container__time-unit">
    <app-label [ngClass]="{'rgb-clock-container__time-unit__label':true}">Minutes</app-label>
    <div [style.background-color]="minuteColor" class=" rgb-clock-container__time-unit__rgb"></div>
  </div>
  <div class="rgb-clock-container__time-unit">
    <app-label [ngClass]="{'rgb-clock-container__time-unit__label':true}">Seconds</app-label>
    <div [style.background-color]="secondColor" class=" rgb-clock-container__time-unit__rgb"></div>
  </div>
</div>
