<div class="input-main-container">
  <label class="input-main-container__label" [for]="id">{{label}}</label>
  <div class="input-main-container__input-container">
    <input class="input-main-container__input-container__input" [id]="id" [required]="required" [placeholder]="placeholder" [type]="type" [value]="value" [disabled]="disabled">
    <button class="input-main-container__input-container__input__icon" (click)="togglePasswordVisibility()" [className]="'button--transparent'">
      <span class="material-symbols-outlined" [ngStyle]="{'opacity': type==='password'?1:0}">{{passwordVisibility() ? 'visibility': 'visibility_off'}}</span>
    </button>
  </div>
  <p class="input-main-container__error" [ngStyle]="{opacity: error ? 1 : 0}">{{error}}</p>
</div>
