<div class="main-container">
  <img [height]="logoHeight" [width]="logoWidth" alt="logo"
       class="main-container__logo" ngSrc="/assets/images/klock--var2--logo.svg"/>
  <h1 class="main-container__title">{{ title }}</h1>
  <app-button (clickHandler)="onLeftArrowClick($event)"
              [ngClass]="{'main-container__button': true, 'main-container__button--left': true}">
    <span class="material-symbols-outlined main-container__button__arrow" style="rotate: 180deg">
      chevron_right
    </span>
  </app-button>
  <app-button (clickHandler)="onRightArrowClick($event)"
              [ngClass]="{'main-container__button': true, 'main-container__button--right': true}">
    <span class="material-symbols-outlined main-container__button__arrow">
      chevron_right
    </span>
  </app-button>
  <ng-content></ng-content>
  <app-time-slider></app-time-slider>
</div>
