/* Main container */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: var(--gap--large);
  color: var(--grey--darkest);
}

/* Logo */
.main-container__logo {
  position: absolute;
  top: var(--padding--small);
  left: var(--padding--medium);
  object-fit: cover;
}

/* Sign out button */
.main-container__sign-out {
  position: absolute;
  top: var(--padding--small);
  right: var(--padding--medium);
}

/* Title */
.main-container__title {
  background-color: var(--color--dark-primary);
  color: var(--grey--lightest);
  padding: var(--padding--small) var(--padding--medium);
  border-radius: var(--border-radius--medium);
  font-family: 'Archivo Black', sans-serif;
  text-transform: uppercase;
}

/* Arrow */
.main-container__arrow-button span {
  color: var(--grey--lightest);
  font-size: var(--font-size--large);
}

/* Left arrow */
.main-container__arrow-button--left {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: var(--padding--medium);
}

/* Right arrow */
.main-container__arrow-button--right {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: var(--padding--medium);
}

/* Page number */
.main-container__page-number {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: var(--padding--medium);
  background-color: var(--grey--darker);
  color: var(--grey--lightest);
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--bold);
  padding: var(--padding--extra-small) var(--padding--medium);
  border-radius: var(--border-radius--medium);
  display: grid;
  place-items: center;
  width: 10rem;
}
