/* Abacus clock */
.abacus-clock-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

/* Time unit */
.abacus-clock-container__time-unit {
  text-align: center;
}

/* Beads */
.abacus-clock-container__time-unit__beads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Bead */
.bead {
  width: 1rem;
  height: 1rem;
  margin: var(--margin--small);
  background-color: var(--grey--medium);
  border-radius: 50%;
  transition: background-color var(--transition--color--duration);
}

/* Active bead */
.bead.active {
  background-color: var(--color--dark-primary);
}
