<div class="main-container">
  <img class="main-container__logo" ngSrc="/assets/images/klock--var3--logo.svg" [height]="logoHeight" [width]="logoWidth" alt="logo"/>
  <div class="main-container__form-container">
    <div class="main-container__form-container__header-container">
      <h1 class="main-container__form-container__header-container__title">{{title}}</h1>
    </div>
    <ng-form class="main-container__form-container__content-container">
      <ng-content></ng-content>
      <div class="main-container__form-container__content-container__footer-container">
        <app-button [type]="'reset'" [additionalClassName]="'button--primary'">Cancel</app-button>
        <app-button [type]="'submit'" [additionalClassName]="'button--primary--filled'">Submit</app-button>
      </div>
    </ng-form>
  </div>
</div>
